{% extends "base.html" %}

{%block header%}

{%endblock%}

{%block section%}
    {% if g.user == None%}
        <div class="welcome-message-container">
            <div class = "create-name-container">
                <span class = "create-name" id = "welcome-name">Welcome to Student Request Portal !</span>
            </div>
            <p style="font-size: larger;">Dear Students <i class="fa-solid fa-graduation-cap" style = "color:black"></i>,</p>
            <div style="font-size: larger;">
                <p>Welcome to your Student Request Portal, your gateway to seamless academic support and opportunities.</p>
                <p>Whether you're seeking approval for a self-study project or need to submit a request to Prof. Nomesh Bolia.</p>
                <p>Our platform is designed to simplify the process and empower you to achieve your goals.</p>
            </div>
            <p style="font-size: larger;">Explore our user-friendly interface, where you can submit, track, and manage your requests effortlessly.</p>
        </div>
    {%else%}
    <div class = "create-name-container">
        <span class = "create-name">Records</span>
    </div>
    <table id = "requests-table">
        <tr>
            <th class = "col-SNo"> S. No.</th>
            <th class = "col-reqType"> Request Type</th>
            <th class = "col-submissionDate"> Submission Date</th>
            <th class = "col-view"> View Request</th>
            <th class = "col-status">Status</th>
        </tr>
    </table>

    <br>

    <div class = "pagination-container"><div id = "pagination"></div></div>

    <script >
        const data =  {{ requests | tojson | safe }}
        const rowsPerPage = 5;
        let currentPage = 1;
        <!-- const baseUrlForView = '{{ url_for('studentRequest.view', id=0).replace('0', '') }}'; -->
        function displayTable(page) { 
            const table = document.getElementById("requests-table"); 
            const startIndex = (page - 1) * rowsPerPage; 
            const endIndex = startIndex + rowsPerPage; 
            const slicedData = data.slice(startIndex, endIndex); 

            // Clear existing table rows 
            table.innerHTML = ` 
            <tr>
                <th class = "col-SNo"> S. No.</th>
                <th class = "col-reqType"> Request Type</th>
                <th class = "col-submissionDate"> Submission Date</th>
                <th class = "col-view"> View Request</th>
                <th class = "col-status">Status</th>
            </tr>
        `; 
            let i = 1;
            // Add new rows to the table 
            slicedData.forEach(item => { 
                const row = table.insertRow(); 

                const serialCell = row.insertCell(0); 
                const requestTypeCell = row.insertCell(1); 
                requestTypeCell.id = "request-type-cell";
                const submissionDateCell = row.insertCell(2); 
                const viewCell = row.insertCell(3); 
                const statusCell = row.insertCell(4);

                const viewLink = document.createElement("a");
                viewLink.href = "/view" + "/" +  item.id;
                const viewButton = document.createElement("button")
                viewButton.innerText = "View";
                viewButton.className = "auth_button";
                viewButton.id = "view-button";
                viewLink.appendChild(viewButton);

                const statusLink = document.createElement("a");
                statusLink.href = "#";
                const statusButton = document.createElement("button");
                statusButton.innerText = "Pending";
                statusButton.className = "auth_button";
                statusButton.id = "view-button";
                statusLink.appendChild(statusButton);

                if(item.status==1){
                    statusLink.href = "/admin/adminRemark" + "/" + item.studentID +"/" +  item.id;
                    statusButton.innerText = "Replied";
                }


                serialCell.innerHTML = `${startIndex+i}.`; 
                requestTypeCell.innerHTML = item.requestType; 
                submissionDateCell.innerHTML = item.submissionDate; 
                viewCell.appendChild(viewLink);
                statusCell.appendChild(statusLink)


                i++;
            }); 

            // Update pagination 
            updatePagination(page); 
        } 

        function updatePagination(currentPage) { 
            const pageCount = Math.ceil(data.length / rowsPerPage); 
            const paginationContainer = document.getElementById("pagination"); 
            paginationContainer.innerHTML = ""; 
            for (let i = 1; i <= pageCount; i++) { 
                const pageLink = document.createElement("a"); 
                const pageButton = document.createElement("button");
                pageButton.innerText = i;
                pageButton.id = "page-button";
                pageButton.className = "auth_button";
                pageLink.href = "#"; 
                pageLink.appendChild(pageButton);
                pageLink.onclick = function () { 
                    displayTable(i); 
                }; 
                if (i === currentPage) { 
                    pageButton.style.fontWeight = "bold"; 
                    pageButton.style.borderColor = "white";
                } 
                paginationContainer.appendChild(pageLink); 
                paginationContainer.appendChild(document.createTextNode(" ")); 
            } 

            if(pageCount==0){
                paginationContainer.style.display = "none";
            }
        } 

        // Initial display 
        displayTable(currentPage); 
    </script>
    {%endif%}
    
{%endblock%}

